set timeout=0
set default=1

# Use standard video modules
insmod all_video
insmod font

# Load graphics terminal
if loadfont /boot/grub/fonts/unicode.pf2 ; then
  set gfxmode=1024x768x32
  insmod gfxterm
  terminal_output gfxterm
fi

menuentry "RestableDOS (Ultimate UEFI Edition)" {
    insmod all_video
    set gfxpayload=keep
    multiboot2 /boot/kernel.bin
    module2 /boot/rofs.bin
}
